* {
    margin: 0;
    padding: 0;

}
/*  HEADER  */
header{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(225deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    

}

#headImg {
    width: 200px;
}
#headText {
    font-size: 80px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


/*TOOLBAR*/ 

/* #toolbarSection {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
}

#tools {
    
    width: 70%;
    height: 100%;
    
} */

#resultArea {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#rawCodeArea {
    
    width: 50%;
    justify-content: center;
    height: auto;
}



#preCode {
    display: none;
    max-height: 800px;
    height: 800px;
}

#creatingChoice {
    display: none;
}




#errorModal {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
  }

  #errorModal img {
    width: 100%;
    height: auto;
  }

  #errorModal button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }